<?xml version="1.0"?>

<config>
	<modules>
		<Sinabs_Storelocator>
			<version>0.1.1</version>
		</Sinabs_Storelocator>
	</modules>
	<global>
		<blocks>
			<storelocator>
				<class>Sinabs_Storelocator_Block</class>
			</storelocator>
		</blocks>
		<models>
			<storelocator>
				<class>Sinabs_Storelocator_Model</class>
				<resourceModel>storelocator_resource</resourceModel>
			</storelocator>
			<storelocator_resource>
				<class>Sinabs_Storelocator_Model_Resource</class>
				<entities>
					<points>
						<table>sinabs_storelocator_points</table>
					</points>
					<categories>
						<table>sinabs_storelocator_categories</table>
					</categories>
					<stores>
						<table>sinabs_storelocator_points_stores</table>
					</stores>
					<points_categories>
						<table>sinabs_storelocator_points_categories</table>
					</points_categories>
					<eav_attribute>
						<table>sinabs_storelocator_eav_attribute</table>
					</eav_attribute>
				</entities>
			</storelocator_resource>
		</models>
		<resources>
			<storelocator_setup>
				<setup>
					<module>Sinabs_Storelocator</module>
					<class>Sinabs_Storelocator_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</storelocator_setup>
		</resources>
		<helpers>
			<storelocator>
				<class>Sinabs_Storelocator_Helper</class>
			</storelocator>
		</helpers>
	</global>
	<default>
		<carriers>
			<storelocator>
				<model>Sinabs_Storelocator_Model_Carrier_Storelocator</model>
				<active>0</active>
				<title>Retrait en magasin</title>
			</storelocator>
		</carriers>
	</default>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<storelocator translate="title" module="storelocator">
											<title>Section Store Locator</title>
										</storelocator>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<menu>
			<cms>
				<children>
					<storelocator>
						<title>Store Locator</title>
						<children>
							<points>
								<title>Manage Stores</title>
								<action>storelocator_admin/adminhtml_points</action>
							</points>
							<categories>
								<title>Manage Categories</title>
								<action>storelocator_admin/adminhtml_categories</action>
							</categories>
						</children>
					</storelocator>
				</children>
			</cms>
		</menu>
	</adminhtml>
	<frontend>
		<routers>
			<storelocator>
				<use>standard</use>
				<args>
					<module>Sinabs_Storelocator</module>
					<frontName>storelocator</frontName>
				</args>
			</storelocator>
		</routers>
		<layout>
			<updates>
				<storelocator module="Sinabs_Storelocator">
					<file>sinabs_storelocator.xml</file>
				</storelocator>
			</updates>
		</layout>
		<translate>
            <modules>
                <Sinabs_Storelocator>
                    <files>
                        <default>Sinabs_Storelocator.csv</default>
                    </files>
                </Sinabs_Storelocator>
            </modules>
        </translate>
	</frontend>
	<admin>
		<routers>
			<storelocator_admin>
				<use>admin</use>
				<args>
					<module>Sinabs_Storelocator</module>
					<frontName>storelocator_admin</frontName>
				</args>
			</storelocator_admin>
		</routers>
	</admin>
	<default>
		<storelocator>
			<google>
				<geo>http://maps.googleapis.com/maps/api/geocode</geo>
			</google>
			<frontend>
				<radius>5,10,20</radius>
				<units>km</units>
			</frontend>
		</storelocator>
	</default>
</config>